body {
  font-family: sans-serif;
  padding: 0 16px; /* 1rem = 16px */
  margin-top: 0;
  background: #f4f4f4;
}

h2,
h3 {
  margin: 10px 0 5px 0;
  font-size: 20px;
}

.section {
  background: white;
  padding: 16px; /* 1rem = 16px */
  margin-bottom: 16px; /* 1rem = 16px */
  margin-bottom: 8px; /* 0.5rem = 8px */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown-width-adjuster {
  width: calc(100% - 5px);
}

.input-group {
  margin-bottom: 8px; /* 0.5rem = 8px */
}

.input-group label {
  display: block;
  margin-bottom: 3px; /* 0.2rem = 3px */
  font-weight: bold;
  font-size: 20px;
}

input,
select {
  width: calc(100% - 20px);
  padding: 8px; /* 0.5rem = 8px */
  margin-bottom: 8px; /* 0.5rem = 8px */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  font-size: 20px;
}

input[type="date"] {
  font-family: inherit;
  font-size: inherit;
  font-size: 20px;
  font-weight: inherit;
  color: inherit;
}

select:focus,
input:focus {
  border-color: #007bff;
  outline: none;
}

/* start of block */

.input-div {
  width: calc(100% - 20px);
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
  font-family: inherit;
  color: inherit;
  min-height: 20px; /* Match single input line height */
  line-height: 1.2;
  overflow-y: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  resize: none;
}

/* Match focus style */
.input-div:focus {
  border-color: #007bff;
  outline: none;
}

/* end of block */

.checkbox-group label {
  display: block;
  font-weight: normal;
}

button {
  margin-top: 10px;
  padding: 12px 24px; /* 0.7rem = 12px, 1.5rem = 24px */
  background: #218a15;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for background */
  font-size: 20px;
  width: 200px;
}

button:disabled {
  background: #a3a2a2; /* Light grey background when disabled */
  color: #535252; /* Light grey text */
  cursor: not-allowed; /* Indicate the button is not clickable */
  opacity: 0.6; /* Make it slightly transparent */
}

button.pending {
  background: #6bd456; /* Bootstrap warning yellow */
  color: #212529;
  background: #007bff;
  color: white;
  cursor: pointer;
  opacity: 1; /* Fully visible */
}

.employee-section,
.work-details-section,
.conditions-section {
  border: 1px solid #ccc;
  padding: 16px; /* 1rem = 16px */
  border-radius: 4px;
  margin-bottom: 16px; /* 1rem = 16px */
}

.conditions-section {
  margin-bottom: 0;
}

.employee-section {
  margin-bottom: 8px; /* 0.5rem = 8px */
}

.work-details-section {
  margin-bottom: 24px; /* 1.5rem = 24px */
}

p {
  margin: 0;
}

.no-break {
  page-break-inside: avoid;
  break-inside: avoid;
  margin-top: 32px; /* 2rem = 32px */
}
